<ion-header>
  <ion-toolbar>
    <ion-title>Chat with {{ user?.username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="messages">
    <div *ngFor="let message of messages" [class]="message.sender === 'You' ? 'sent' : 'received'">
      {{ message.sender }}: {{ message.text }}
    </div>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-input placeholder="Type your message..." #input></ion-input>
      <ion-button expand="block" (click)="sendMessage(input)">Send</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>

<style>
  .messages {
    padding: 1rem;
  }
  .sent {
    text-align: right;
    color: blue;
  }
  .received {
    text-align: left;
    color: gray;
  }
</style>
